{% extends '_base.html' %}
{% load static %}
{% block content %}

<main class="container">

   <div class="grid">
       <div>
           <img src="{% static 'image/login.jpg' %}" alt="login-image">
       </div>
       <div>
         <article>
            <header>Log in</header>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-success" type="submit">Log in</button>
            </form>
         </article>
       </div>
   </div>
 
</main>
{% endblock content %}
