{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log out{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Sign Out</h2>
          <p class="card-text text-center">Are you sure you want to sign out?</p>
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
              <button class="btn btn-danger btn-lg" type="submit">Sign Out</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}