#sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  width: 220px;
  padding-top: 80px;
  transition: all 0.35s ease-in-out;
}

.main-content {
  margin-left: 220px;
  width: calc(100% - 220px);
  margin-top: 80px;
  min-height: 100vh;
  transition: all 0.35s ease-in-out;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle-nav {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 2rem;
  border-left: 0.5px solid rgb(0, 0, 0, 0.3);
}

.btn-toggle-nav a {
  padding-top: 5px;
}

.btn-toggle {
  text-wrap: nowrap;
}

[x-cloak] {
  display: none !important;
}

textarea {
  max-width: 32rem;
}

.datetimeshortcuts:first-of-type {
  display: none;
}


.object-tools {
  display: flex;
  list-style-type: none; /* Remove default bullets */
  padding: 0;            /* Remove default padding */
  margin: 0;
  margin-bottom: 20px;
  margin-right: 50px;
  flex-direction: row-reverse;
}

.object-tools li {
  margin-left: 10px;
}
