{% load i18n %}
<div class="actions d-inline-flex mt-4 mb-1" x-data="actionForm" x-cloak>
  <div class="card" style="width: 32rem;">
      <div class="card-body">
        {% block actions %}
        {% block actions-form %}
        {% for field in action_form %}
        {% if field.label %}
        <div class="mb-3">
          <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
          {{ field }}        
        </div>
        {% else %}
        {{ field }}
        {% endif %}
        {% endfor %}
        {% endblock %}
        {% block actions-submit %}
        <button type="submit" class="btn btn-primary btn-sm" title="{% translate 'Run the selected action' %}" name="index" value="{{ action_index|default:0 }}">{% translate "Go" %}</button>
        {% endblock %}
        {% block actions-counter %}
        {% if actions_selection_counter %}
        <span class="action-counter ms-3" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
        {% if cl.result_count != cl.result_list|length %}
        <span class="question hidden ms-3" x-show="isShowHidden">
          <a class="text-link text-lowercase" @click="selectAllData" href="#" title="{% translate 'Click here to select the objects across all pages' %}">{% blocktranslate with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktranslate %}</a>
        </span>
        <span class="clear hidden ms-3" x-show="isShowHidden"><a class="text-link text-lowercase" @click="clearAllSelection" href="#">{% translate "Clear selection" %}</a></span>
        {% endif %}
        {% endif %}
        {% endblock %}
        {% endblock %}
      </div>
  </div>
</div>


<script>
    function actionForm() {
      return {
        isShowHidden: false,
        init() {
          try {
              document.querySelectorAll("select").forEach((e) => {
                e.classList.add("form-select")
              })
          }
          catch {
          }
          document.querySelector("#action-toggle")?.addEventListener('click', (event) => {
               if (event.target.checked) {
                 this.isShowHidden = true
               }
               if(!event.target.checked) {
                  this.isShowHidden = false
               }
          })
        },
        clearAllSelection() {
            if (document.querySelector("#action-toggle")) document.querySelector("#action-toggle").checked=false
            this.isShowHidden = false
        },
        selectAllData() {
            const length = "{{ cl.result_count }}"
            if(document.querySelector(".action-counter")) document.querySelector(".action-counter").textContent = `${length}s of ${length}s selected`
        }
      }
    }
</script>
