{% load i18n %}
<div x-data="appList">
{% if app_list %}
  <template x-for="[key, value] in Object.entries(appNames)" :key="key">
    <details>
      <summary x-text="key"></summary>
      <ul>
        <template x-for="item in value" :key="item.name">
          <li>
            <a :href="item.url" class="contrast" x-text="item.name"></a>
          </li>
        </template>
      </ul>
    </details>
  </template>
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
</div>


  <script>

    function appList() {
      return {
        appNames: {},
        init() {
          {% for app in app_list %}
          this.appNames['{{ app.name }}'] = [];
          {% endfor %}

          // Populate app names with model names
          {% for app in app_list %}
          {% for model in app.models %}
          this.appNames['{{ app.name }}'].push(
            {
              name: '{{ model.name }}',
              url: '{{ model.admin_url }}',
              appLabel: '{{ app_label }}',
              viewOnly: '{{ model.view_only }}'
            }
          );
          {% endfor %}
          {% endfor %}
          console.log(this.appNames)
        }
      }
    }




  </script>