{% load i18n %} {% if app_list %}
<ul class="list-unstyled ps-0" x-data="appList">
  <template x-for="[key, value] in Object.entries(appNames)" :key="key">
    <li class="nav-item mb-1">
      <a x-text="key==='Authentication and Authorization' ? 'Authentication' : key" class="btn-toggle text-dark d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" :data-bs-target="`#${key.split(' ')[0]}`" aria-expanded="true"></a>
      <div class="collapse show" :id="key.split(' ')[0]">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <template x-for="item in value" :key="item.name">
            <li>
              <a :class="item.url === item.currentUrl ? 'text-dark' : 'text-muted'" class="link-dark d-inline-flex text-decoration-none rounded" :href="item.url" x-text="item.name"></a>
              <span x-html="icons[item.name] != undefined ? icons[item.name]: ''"></span>
            </li>
          </template>
        </ul>
      </div>
    </li>
  </template>
</ul>

<script>
    function appList() {
      return {
         appNames: {},
         icons: {
             "Email addresses" : '<i class="fa fa-envelope" aria-hidden="true"></i>',
              "Users":  '<i class="fa fa-user" aria-hidden="true"></i>' 
         },
         init() {
           // Construct app names and initialize with empty arrays
           {% for app in app_list %}
           this.appNames['{{ app.name }}'] = [];
           {% endfor %}

           // Populate app names with model names
           {% for app in app_list %}
           {% for model in app.models %}
           this.appNames['{{ app.name }}'].push({ name: '{{ model.name }}', url: '{{ model.admin_url }}', currentUrl: "{{ request.path }}" });
           {% endfor %}
           {% endfor %}

           console.log(this.appNames)
         }
      }
    }
</script>
{% endif %}
