{% load i18n %} {% if app_list %}
{% comment %}
<ul class="list-unstyled ps-0" x-data="appList">
  <template x-for="[key, value] in Object.entries(appNames)" :key="key">
    <li class="nav-item mb-1">
      <a x-text="key==='Authentication and Authorization' ? 'Authentication' : key" class="btn-toggle text-dark d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" :data-bs-target="`#${key.split(' ')[0]}`" aria-expanded="true"></a>
      <div class="collapse show" :id="key.split(' ')[0]">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <template x-for="item in value" :key="item.name">
            <li>
              <a :class="item.url === item.currentUrl ? 'text-dark' : 'text-muted'" class="link-dark d-inline-flex text-decoration-none rounded" :href="item.url" x-text="item.name"></a>
              <span x-html="icons[item.name] != undefined ? icons[item.name]: ''"></span>
            </li>
          </template>
        </ul>
      </div>
    </li>
  </template>
</ul>
{% end comment %}

<h1>side nave</h1>
