{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{% static 'css/scss.css' %}" rel="stylesheet">
<link href="{% static 'css/custom_admin.css' %}" rel="stylesheet">
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
<body 
    hx-boost="true" 
    hx-swap="outerHTML" 
    class="{% if is_popup %}popup container {% endif %}{% block bodyclass %}{% endblock %}"
    data-admin-utc-offset="{% now 'Asia/Kathmandu' %}"
    style="height: 100vh; margin: 0px;"
    id="body">

    <div class="layout has-sidebar fixed-sidebar">
      <aside id="sidebar" class="sidebar">
         {% include 'admin/nav_sidebar.html' with app_list=available_apps show_changelinks=False %}
      </aside>
      <div class="layout">
        <header class="header">
          {% if not is_popup %}
          <!-- Header -->
          {% block header %}
            <header class="header" style="width: 100%;">
            {% include 'admin/top_nav.html' with app_list=available_apps show_changelinks=False %}
            </header>
          {% endblock %}
        </header>
        <main class="content container">
          {% block messages %}
          {% if messages %}
          <div class="alert alert-primary" role="alert">
            <ul class="messagelist list-unstyled">{% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message|capfirst }}</li>
                {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endblock messages %}
    
          {% block nav-breadcrumbs %}
          <nav aria-label="breadcrumb mt-3">
            {% block breadcrumbs %}
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
               </li>
              {% if title %} &rsaquo; {{ title }}{% endif %}
            </ol>
            {% endblock %}
          </nav>
          {% endblock %}
          {% endif %}
          <!-- Content -->
          <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            <br>
            {% block content_title %}{% if title %}<h5 class="text-muted text-uppercase">{{ title }}</h5>{% endif %}{% endblock %}
            <br>
            {% block content_subtitle %}{% if subtitle %}<h6 class="text-muted">{{ subtitle }}</h6>{% endif %}{% endblock %}
            {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear">
          </div>
          <!-- END Content -->
        </main>
        <div class="overlay"></div>
      </div>
    </div>
{% block extrabody %}{% endblock extrabody %}
</body>
</html>
