{% extends "admin/base.html" %}
{% load static %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% endblock %}
{% block extrahead %}
<meta name="htmx-config" content='{"refreshOnHistoryMiss":"true","historyCacheSize": "0","globalViewTransitions": "true"}'>
<script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js" integrity="sha384-gpIh5aLQ0qmX8kZdyhsd6jA24uKLkqIr1WAGtantR4KsS97l/NRBvh8/8OYGThAf" crossorigin="anonymous"></script>
<script src="{% static 'esbuild/alpine/alpine.js' %}" defer></script>
<script src="{% static 'js/bootstrap.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/flatpicker.css' %}">
<script src="{% static 'js/flatpicker.js' %}"></script>
<script src="{% static 'js/trix.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/trix.css' %}">

<script src="{% static 'js/admin/jquery.js' %}"></script>
<script src="{% static 'js/admin/jquery.init.js' %}"></script>
<script src="{% static 'js/admin/core.js' %}"></script>
<script src="{% static 'js/admin/actions.js' %}"></script>
<script src="{% static 'js/admin/urlify.js' %}"></script>
<script src="{% static 'js/admin/prepopulate.js' %}"></script>
<script src="{% static 'js/admin/xregexp.js' %}"></script>
<script src="{% static 'js/admin/filters.js' %}" defer></script>
<!-- jquery -->
{% comment %}
  <p>this script below is for form submit disabled fieldset</p>
{% endcomment %}

<script>
    window.addEventListener('load', () => {
       document.querySelectorAll("form").forEach((form) => {
        form.addEventListener('submit', (event) => {
          event.target.querySelector('fieldset').setAttribute("disabled", "true")
        })
      })
    })
</script>

<script>
  /* If browser back button was used, flush cache */
      
  {{/*  window.addEventListener('popstate', function (event) {
            // Handle the back/forward button event here
            if(event.state.htmx) {
               location.reload()
            }
            console.log('Popstate event detected!');
  });  */}}
      
</script>


<script>
    htmx.on('htmx:afterRequest', () => {
      window.scrollTo({top: 0})
    })
</script>
{% endblock %}

{% block nav-global %}{% endblock %}
