{% load i18n admin_urls %}
{% block object-tools-items %}
<div class="d-flex d-flex justify-content-end mb-4 me-4">
    <div>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a class="btn btn-primary" href="{% add_preserved_filters history_url %}" class="historylink">{% translate "History" %}</a>
    </div>
    {% if has_absolute_url %}
    <div>
        <a href="{{ absolute_url }}" class="viewsitelink">{% translate "View on site" %}</a>
    </div>
    {% endif %}

</div>
{% endblock %}
