<!-- templates/custom_user_change_form.html -->

{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}

{% load crispy_forms_tags %}

{% block content %}
<div id="content-main" x-data="groupChange">
    <form  x-ref="modelPermission" id="{{ opts.model_name }}_form" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <fieldset class="module aligned" :disabled="ispermissionModelFormLoading">
            <div class="d-flex mb-3 justify-content-end">
                <input type="submit" value="Save" class="btn btn-primary">
                <a href="{% url 'admin:auth_group_delete' object_id %}" class="btn btn-danger ms-3">{% translate "Delete" %}</a>
            </div>
            <div class="card">
                <div class="card-header">Model Permissions</div>
                <div class="card-body">
                    {{ adminform.form.name|as_crispy_field }}
                    <template x-if="Object.keys(groupedPermissionData).length != 0">
                        <template x-for="[key, value] in Object.entries(groupedPermissionData)">
                              <div class="card mb-3">
                                  <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="text-capitalize text-muted align-middle" x-text="key"></p>
                                        </div>
                                        <div class="col-10">
                                            <div class="row border-right">
                                                <template x-for="item in sortByName(value)">
                                                    <div class="col-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="permissions" :value="item.id" :id="item.codename" :checked="activePermissions.includes(item.id)">
                                                            <label x-text="item.name" class="form-check-label" :for="item.codename"></label>
                                                          </div>                                                          
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                        </template>
                    </template>   
                </div>
            </div>
        </fieldset>
    </form>
</div>


<script>
     function groupChange() {
        return {
            groupedPermissionData: {},
            ispermissionModelFormLoading: false,
            modelPermissionId: [],
            activePermissions: [],
            init() {
                const activePermissionFromTemplate = "{{ active_form|escapejs }}"
                if (activePermissionFromTemplate != "") {
                    this.activePermissions = JSON.parse(activePermissionFromTemplate)
                }
                const ignoreModel = [
                    'email address', 
                    'email confirmation',
                    'log entry',
                    'advancedfilter',
                    'permission',
                    'content type',
                    'session',
                    'site'
                ];
                const ignorePermissionName = [
                    'add_',
                    'change_',
                    'delete_',
                    'view_'
                ];
                const ignorePermissionNameModelList = [
                    'leave'
                ]
                const permissionObject = JSON.parse("{{ permission_dict|escapejs }}");
                acc = {};
                permissionObject.forEach((item) => {
                      const key = item.content_type.name;
                      if (ignoreModel.includes(key)) return;
                      const ignorePermissionNameForKey = ignorePermissionName.map((e) => (`${e}${key}`))
                      if (ignorePermissionNameModelList.includes(key) && ignorePermissionNameForKey.includes(item.codename)) return
                      const value = { id: item.id, name: item.name, codename: item.codename };
                      if (!acc[key]) {
                        acc[key] = [];
                      }
                      acc[key].push(value);
                })
                this.groupedPermissionData = acc
                console.log(this.groupedPermissionData)
            },
            sortByName(array) {
                return array.sort((a, b) => a.name > b.name)
            },
          }
     }

</script>
{% endblock %}