{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static " admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}



{% block content %}
<div id="content-main" class="container mt-4">
    <div id="content-related">
        <div class="card" id="recent-actions-module">
            <div class="card-body">
                <h2 class="card-title">{% translate 'Recent Actions' %}</h2>
                <h3 class="card-subtitle mb-3">{% translate 'My Actions' %}</h3>
                {% load log %}
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                <p class="text-muted">{% translate 'None available' %}</p>
                {% else %}
                <ul class="actionlist list-group">
                    {% for entry in admin_log %}
                    <li class="list-group-item {% if entry.is_addition %}list-group-item-success{% elif entry.is_change %}list-group-item-warning{% elif entry.is_deletion %}list-group-item-danger{% endif %}">
                        <span class="visually-hidden">{% if entry.is_addition %}{% translate 'Added:' %}{% elif entry.is_change %}{% translate 'Changed:' %}{% elif entry.is_deletion %}{% translate 'Deleted:' %}{% endif %}</span>
                        {% if entry.is_deletion or not entry.get_admin_url %}
                        {{ entry.object_repr }}
                        {% else %}
                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                        {% endif %}
                        <br>
                        {% if entry.content_type %}
                        <span class="mini text-muted">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                        {% else %}
                        <span class="mini text-muted">{% translate 'Unknown content' %}</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}