{% load admin_list %}
{% load i18n %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if pagination_required %}
        {% for i in page_range %}
        <li  class="page-item">
             <a href="?p={{ i }}" class="page-link" :class="new URLSearchParams(location.search).get('p') === '{{ i }}' && 'active'">{{ i }}</a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</nav>
<div class="d-inline-flex">
    <p class="me-2 text-muted">{{ cl.result_count }} {% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}</p>
    {% if show_all_url %}
    <a href="{{ show_all_url }}" class="text-link text-lowercase">{% translate 'Show all' %}</a>
    {% endif %}
    {% if cl.formset and cl.result_count %}
    <input type="submit" name="_save" class="btn btn-primary" value="{% translate 'Save' %}">
    {% endif %}
</div>