{% block usertools %}
{% if has_permission %}
<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HRMS Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ site_url }}">View site</a>
          </li>
          {% if user.has_usable_password %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:password_change' %}">Change password</a>
          </li>
          {% endif %}
        </ul>
        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit">Log out</button>
        </form>
      </div>
    </div>
  </nav>
{% endif %}
{% endblock %}
{% block nav-global %}{% endblock %}
