{% block usertools %}
{% if has_permission %}
<nav x-data="topNav" hx-swap="morph" x-cloak class="navbar navbar-expand-lg sticky-top bg-body-tertiary border-bottom" style="box-shadow: none;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HRMS Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <template x-for="[key, value] in Object.entries(appNames)">
              <li class="nav-item dropdown">
                <a x-text="key" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                <ul class="dropdown-menu">
                  <template x-for="item in value" :key="item.name">
                    <li>
                      <a class="dropdown-item" :href="item.url" x-text="item.name"></a>
                    </li>
                  </template>
                </ul>
              </li>
          </template>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" target="_blank" href="{{ site_url }}">View site</a>
          </li>
          {% if user.has_usable_password %}
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{% url 'admin:password_change' %}">Change password</a>
          </li>
          {% endif %}
        </ul>
        <form hx-boost="false" id="logout-form" method="post" action="/accounts/logout/">
            {% csrf_token %}
             <input type="hidden" name="next" :value="window.location.href">
            <button class="btn btn-secondary" type="submit">Log out</button>
        </form>
      </div>
    </div>
    <script>
      function topNav() {
        return {
          appNames: {},
          sepeateAppDropdown: ['Accounts', 'Authentication and Authorization'],
          icons: {
            "Email addresses": '<i class="fa fa-envelope" aria-hidden="true"></i>',
            "Users": '<i class="fa fa-user" aria-hidden="true"></i>'
          },
          init() {
            // Construct app names and initialize with empty arrays
            const _ = `
              {% if app_list %}
              {% for app in app_list %}
              ${this.appNames['{{ app.name }}'] = []}
              {% endfor %}
              {% for app in app_list %}
              {% for model in app.models %}
              ${this.appendToAppList('{{ app.name }}', '{{ model.name }}', '{{ model.admin_url }}', '{{ request.path }}')}
              {% endfor %}
              {% endfor %}
              {% endif %}
            `
          },

          appendToAppList(name, modelName, url, currentUrl) {
            let appName = name;
            if (!this.sepeateAppDropdown.includes(appName)) {
              if (this.appNames['Modules'] === undefined) {
                this.appNames['Modules'] = []
              }
              appName = 'Modules'
              delete this.appNames[name]
            }
            this.appNames[appName].push({ name: modelName, url: url, currentUrl: currentUrl })
          },
        }
      }
    </script>
  </nav>
{% endif %}
{% endblock %}
{% block nav-global %}{% endblock %}
