<!-- templates/custom_user_change_form.html -->

{% extends 'admin/change_form.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div id="content-main">
    <form id="{{ opts.model_name }}_form" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <fieldset class="module aligned">
         <div class="row">
             <div class="col-8">
                 <div class="card">
                     <div class="card-body">
                        <div class="row">
                            {% for field in adminform.form %}
                             <div class="col-12">
                                {{ field|as_crispy_field }}
                             </div>
                            {% endfor %}
                        </div>
                     </div>
                 </div>
             </div>
             <div class="col-4">
                  <div class="card">
                      <div class="card-header">Actions</div>
                      <div class="card-body">
                          <input type="submit" class="btn btn-primary" style="width: 100%;" value="Update user">
                      </div>
                  </div>
             </div>
         </div>
        </fieldset>
    </form>
</div>
{% endblock %}