{% extends "admin/change_form.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div x-data="userForm" x-cloak>
    <div class="row">
        <div class="col-3">
            <div class="bs-stepper vertical">
                <div class="bs-stepper-header" role="tablist">
                    <!-- steps here -->
                    <template x-for="[key, value] in Object.entries(stepForms)" :key="key">
                         <span style="display: contents;">
                            <div class="step">
                                <button @click="activateStepForm(key)" type="button" class="step-trigger" role="tab" :class="setClassName(key)">
                                    <span x-html="value.icons"></span>
                                    <span class="bs-stepper-label" x-text="value.label"></span>
                                </button>
                            </div>
                            <div class="bs-stepper-line"></div>
                        </span>
                    </template>
                </div>
            </div>
        </div>
         <div class="col-9">
            <div class="card" style="width: 40rem;">
                <div class="card-header" x-text="stepForms[activeStep].label"></div>
                <div class="card-body">
                    <form method="post" action="" class="user_change" enctype="multipart/form-data" novalidate>
                        <fieldset>
                            {% csrf_token %}
                            {{ adminform.form|crispy }}
                            <div class="submit-row" x-show="activeStep==='credentials'">
                                <input type="submit" class="btn btn-primary" value="Save">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
         </div>
    </div>
  </div>

  <script>
    function userForm() {
        return {
            stepForms: {
                "personal": {
                    label: `Personal`,
                    icons: `<i class="fa-solid fa-user"></i>`,
                    fields: ['first_name', 'last_name', 'email']
                },
                "configData": {
                    label: `Configuration Data`,
                    icons: `<i class="fa-solid fa-gear"></i>`,
                    fields: ['date_joined']
                },
                "permission": {
                    label: "Permission",
                    icons: `<i class="fa-solid fa-key"></i>`,
                    fields: ['is_active', 'is_staff', 'is_superuser', 'groups']
                },
                "credentials": {
                    label: "Credentials",
                    icons: `<i class="fa-solid fa-lock"></i>`,
                    fields: ['username', 'password']
                }
            },
            activeStep: 'personal',
            errorInSteps: new Set(),
            completeForm: new Set(),
            init() {
                document.querySelectorAll(".invalid-feedback").forEach((e) => {
                    const id = e.getAttribute("id")
                    Object.entries(this.stepForms).forEach(([key, value]) => {
                        const errorId = id.split("_").at(-1)
                        if(value.fields.includes(errorId)) {
                            this.errorInSteps.add(key)
                        }
                    })
                })
                console.log(this.errorInSteps)
                
                this.hideAll();
                this.showForm(this.activeStep);
            },
            hideAll() {
                document.querySelectorAll('.user_change div').forEach((e) => {
                    e.style.display = "none";
                });
            },
            showForm(stepName) {
                const step = this.stepForms[stepName];
                if (!step) return; // Handle invalid step names gracefully
                
                step.fields.forEach((field) => {
                    try {
                        const elm = document.querySelector(`#div_id_${field}`);
                        if (elm) {
                            elm.style.display = "block";
                            elm.parentElement.style.display = "block";
                            elm.querySelectorAll('div').forEach((e) => {
                                e.style.display = "block";
                            });
                        }
                    } catch (error) {
                        console.error('Error showing form:', error);
                    }
                });
                this.activeStep = stepName;
            },
            activateStepForm(name) {
                this.hideAll();
                this.showForm(name);
                const previousKey = this.getPreviousKey(name)
                const filledFields = []
                const fields = this.stepForms[previousKey].fields
                fields.forEach((e) => {
                    const div = document.querySelector(`#div_id_${e}`)
                    div.querySelectorAll('input').forEach((input) => {
                        if (input.value != "") {
                            filledFields.push(e)
                        }
                    })
                })
                if (filledFields.length >= fields.length) {
                    this.completeForm.add(previousKey)
                }
                console.log(filledFields, fields)
                console.log(filledFields.length, fields.length)
                console.log(this.completeForm)
            },
            setClassName(name) {
                if (this.errorInSteps.has(name)) {
                    return "text-danger"
                }
                if (this.completeForm.has(name)) {
                    return "text-success"
                }
                if (this.activeStep === name) {
                    return "text-primary"
                }

            },
            getPreviousKey(currentKey) {
                const keys = Object.keys(this.stepForms);
                const currentIndex = keys.indexOf(currentKey);
                console.log(currentIndex, keys.length)
                if (currentIndex > 0) {
                    return keys[currentIndex - 1];
                } if (currentIndex === 0) {
                    return keys[keys.length-1]
                }
           }
        };
    }
    
  </script>

  
{% endblock %}