{% with prefix=fieldset.formset.prefix|default:"fieldset" id_prefix=id_prefix|default:"0" id_suffix=id_suffix|default:"0" name=fieldset.name|default:""|slugify %}
<fieldset class="module aligned {{ fieldset.classes }}"{% if name %} aria-labelledby="{{ prefix }}-{{ id_prefix}}-{{ name }}-{{ id_suffix }}-heading"{% endif %}>
    {% if name %}
        {% if fieldset.is_collapsible %}<details><summary>{% endif %}
        
        <legend id="{{ prefix }}-{{ id_prefix}}-{{ name }}-{{ id_suffix }}-heading" class="fieldset-heading">{{ fieldset.name }}</legend>
        {% if fieldset.is_collapsible %}</summary>{% endif %}
    {% endif %}
    {% if fieldset.description %}
        <p>{{ fieldset.description|safe }}</p>
    {% endif %}
    {% for line in fieldset %}
            {% if line.fields|length == 1 %}
             <div class="form-errors" style="color:red;">
                {{ line.errors }}
             </div>
            {% else %}{% endif %}
            {% for field in line %}
                
                    {% if not line.fields|length == 1 and not field.is_readonly %}
                    {{ field.errors }}
                    {% endif %}
                            {% if field.is_checkbox %}
                                {{ field.field }}{{ field.label_tag }}
                            {% else %}
                                {{ field.label_tag }}
                                {% if field.is_readonly %}
                                    {{ field.contents }}
                                {% else %}
                                    {{ field.field }}
                                {% endif %}
                            {% endif %}
                        
                    {% if field.field.help_text %}
                        <small class="help"{% if field.field.id_for_label %} id="{{ field.field.id_for_label }}_helptext"{% endif %}>
                            {{ field.field.help_text|safe }}
                        </small>
                    {% endif %}
                
            {% endfor %}
            {% if not line.fields|length == 1 %}{% endif %}
    {% endfor %}
    {% if name and fieldset.is_collapsible %}</details>{% endif %}
</fieldset>
{% endwith %}
